body{
    font-family: 'Prompt', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    line-height: 1.7;
    font-weight: 400;
}
/*main-end*/

.logo-pic{
    width: 75px;
}

.header-section {
    background-color: rgb(97, 30, 30);
}

.header-top {
    display: flex;
    padding: 16px 150px 0px 150px;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    box-shadow: #9499a1c0;
}

.links ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color:#f0f0f0;
}

.logo {
    padding: 0px;
}

.header-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    padding: 300px 150px 300px 150px;
    background-image: url(../imgs/solis-homepage.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

button {
    background-color:rgb(45, 53, 53);
    color:#F9FAF8;
    border-radius: 5px;
    padding: 6px 24px;
}

/*background image*/
.header-bottom img{
width: 100%;
height: 50%;
/*filter:blur(px)*/
}

.header-des {
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: Flex-start;
    padding: 100px 50px;
    gap: 8px;
    backdrop-filter: blur(2px);
    box-shadow: 95px;
    background-color: rgba(0,0,0,0.3);
    max-width: 100%;
    max-height: 35%;
    border-style: solid;
    border-color:#F9FAF8;
    border-radius: 8px;
    /*position: absolute;*/
}

.business-name {
color: #F9FAF8;
font-size: 48px;
}

.business-des {
    color: #F9FAF8;
    font-size: 18px;
}

/*header section end*/
/*plan section start*/
.plan-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 100px 100px 100px;
}

.plan-title {
    font-size: 36px;
    font-weight: bold;
}

.plan-steps {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.plan-img, .plan-img-2, .plan-img-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 311px;
    height: 302px;
    border-style: solid;
    border-color:rgb(97, 30, 30);
    background-image: linear-gradient(rgba(0, 0, 0, 0.082), rgba(0, 0, 0, 0.082)), url(../imgs/layout-solis.jpeg);
    background-size: 100% 100%;
    padding: 20px 20px 20px 20px;
    transition: all .8s ease;
    flex: 1;
}

.plan-img-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.082), rgba(0, 0, 0, 0.082)),
        url(../imgs/layout.jpg);
}

.plan-img-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.082), rgba(0, 0, 0, 0.082)),
        url(../imgs/execute.jpg);
}

.addon-number {
    font-size: 120px;
    font-weight: 400;
    line-height: 44px;
    color: #baa08f;
    font-family: 'Prompt', sans-serif;
    text-align: right;
    padding: 0 20px 0 0;
}

.addon-content {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    margin: 0 0 10px;
    color: white;
}

.plan-des-img-container { /*1 main container start*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 70px 150px 100px 150px;
    gap: 80px;
}

.sub-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #baa08f;
    text-transform: uppercase;
    display: block;
    margin: 0px 0px 7px 0px;
}

.title h1 {
    color:#333333;
    font-size: 30px;
    line-height: 38px;
    font-weight: 700;
    /*display: block;
    margin-inline-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;*/
}

.plan-des { /*1a container for title and description*/
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 673px
}

.plan-phase-title { /*1a-1 sub title*/
    font-size: 50px;
    font-weight: 700;
    color: #333333;
}

.plan-phase-des { /*1a-2 sub description*/
font-size: 18px
}

.plan-diagram img { /*1b*/
    flex: 1;
    width: 600px;
    height: 400px;
}
/*end of plan section*/

.services-section { /*Main container for services*/
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    padding: 70px 150px 100px 150px;
}

.service-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-title {
    font-size: 30px;
    line-height: 38px;
    font-weight: 700;
    color: #333333;
    margin: 0 0 3px;
}

hr {
    opacity: 0.3;
    width: 275px;
    height: 1px;
    margin-right: auto;
    margin-left: auto;
    background-color: #666;
}

.service-description p {
    font-size: 18px;
}

/*Service container end*/

.service-moodle-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap:wrap;
}

.service-moodle {
    background-color: #ffffff;
    display: flex;
    gap: 4px;
    padding: 38px 20px 36px 20px;
    flex: 1;
    box-shadow: 0px 0px 40px 0px #eee;
    max-width: 20em;
}

.icon {
    margin: 0px;
    padding: 0px;
}

.icon img {
    width: 50px;
    height: 50px;
    margin: 0px;
}

.moodle-box {
    padding: 0px 25px 0px 25px;
}

.moodle-title {
    font-size: 22px;
        line-height: 32px;
        font-weight: 700;
}

.moodle-des {
    color: #666666;
    font-size: 16px;
    margin-bottom: 20px;
    margin: 0 0 26px;
    line-height: 1.8;
}
/*link color*/
.moodle-link .a {
    color:#333333;
}

.moodle-link a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color:#baa08f;
}
/*Link color end*/

/*footer*/
.footer-sec {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 30px 0px;
}

.footer-top {
    display: flex;
    gap:36px;
}

.footer-title {
    font-size: 18px;
    margin-bottom: 10px
}

.footer-logo {
    width: 175px;
}

.footer-list {
    display: flex;
    flex-direction: column;
}

.footer-list ul {
    display: flex;
    flex-direction: column;
    list-style:square;
}