:root {
    --primary-color: #0a1118;
    --primary-color-highlight: #233d54;
    --bs-body-font-family: 'Prompt', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a { color: var(--primary-color);}
a:hover {color: var(--primary-color);}
/*
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }
*/

/*
* Custom container
*/

.container-custom {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .container-custom { width: 1140px;}
}

@media (min-width: 1400px) {
    .container-custom { width: 1340px;}
}

@media (min-width: 1600px) {
    .container-custom { width: 1520px;}
}


/*main-end*/

.logo-pic{
    width: 75px;
}

a {
    text-decoration: none;
    color:#f0f0f0;
}

.logo {
    padding: 0px;
}

/*Hero header bottom Start  Bootstrap*/
.hero {
    position: relative;
    height: 90vh;
    background-color: var(--primary-color);
    overflow: hidden;
}

@media (min-width: 1400px) {
    .hero__heading { font-size: 3.2rem;}
}


.hero__video {
    position: absolute;

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    opacity: 0.5;
    z-index: 1;

}

.hero__content {
    z-index: 1;
}

.hero-content-width {
    max-width: 540px;
}

.hero__scroll-btn {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    z-index: 1;
    color: var(--bs-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.hero__scroll-btn:hover {
    color: var(--bs-light);
    opacity: 0.8;
}

.hero__scroll-btn .bi {
    transition-delay: 0.8s;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    front {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-10px);
    }
}

/*background image*/
.header-bottom img{
width: 100%;
height: 50%;
/*filter:blur(px)*/
}

.header-des {
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: Flex-start;
    padding: 100px 50px;
    gap: 8px;
    backdrop-filter: blur(2px);
    box-shadow: 95px;
    background-color: rgba(0,0,0,0.3);
    max-width: 100%;
    max-height: 35%;
    border-style: solid;
    border-color:#F9FAF8;
    border-radius: 8px;
    /*position: absolute;*/
}

.business-name {
color: #F9FAF8;
font-size: 48px;
}

.business-des {
    color: #F9FAF8;
    font-size: 18px;
}

/*header section end*/
/*plan section start*/
.plan-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 100px 100px 100px;
    gap: 70px;
}

.plan-title {
    font-size: 36px;
    font-weight: bold;
}

.plan-steps {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.plan-img, .plan-img-2, .plan-img-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 311px;
    height: 302px;
    border-style: solid;
    border-color:var(--primary-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.082), rgba(0, 0, 0, 0.082)), url(../imgs/layout-solis.jpeg);
    background-size: 100% 100%;
    padding: 20px 20px 20px 20px;
    transition: all .8s ease;
    flex: 1;
    border-radius: 5px;
}

.plan-img-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.082), rgba(0, 0, 0, 0.082)),
        url(../imgs/layout.jpg);
}

.plan-img-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.082), rgba(0, 0, 0, 0.082)),
        url(../imgs/execute.jpg);
}

.addon-number {
    font-size: 120px;
    font-weight: 400;
    line-height: 44px;
    color: whitesmoke;
    font-family: 'Prompt', sans-serif;
    text-align: right;
    padding: 0 20px 0 0;
}

.addon-content {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    margin: 0 0 10px;
    color: white;
}

.plan-des-img-container { /*1 main container start*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 70px 0px 100px 0px;
    gap: 80px;
    margin: 0 150px 0 150px;
}

.sub-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: var(--primary-color-highlight);
    text-transform: uppercase;
    display: block;
    margin: 0px 0px 7px 0px;
}

.title h1 {
    color:#333333;
    font-size: 30px;
    line-height: 38px;
    font-weight: 700;
    /*display: block;
    margin-inline-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;*/
}

.plan-des { /*1a container for title and description*/
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 673px
}

.plan-phase-title { /*1a-1 sub title*/
    font-size: 50px;
    font-weight: 700;
    color: #333333;
}

.plan-phase-des { /*1a-2 sub description*/
font-size: 18px
}



@media (max-width: 620px) {
    .plan-diagram img {
            flex: 1;
            max-width: 365px;
            max-height: 310px;
        }
}

/*@media (max-width: 768px) {
    .plan-diagram img {
            flex: 1;
            max-width: 460px;
            max-height: 390px;
        }
}*/

/*.plan-diagram img { 
    flex: 1;
    width: 600px;
    height: 400px;
}*/
/*end of plan section*/

.services-section { /*Main container for services*/
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    padding: 70px 150px 100px 150px;
}

.service-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-title {
    font-size: 30px;
    line-height: 38px;
    font-weight: 700;
    color: #333333;
    margin: 0 0 3px;
}

hr {
    opacity: 0.3;
    width: 275px;
    height: 1px;
    margin-right: auto;
    margin-left: auto;
    background-color: #666;
}

.service-description p {
    font-size: 18px;
}

/*Service container end*/

.service-moodle-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap:wrap;
}

.service-moodle {
    background-color: #ffffff;
    display: flex;
    gap: 4px;
    padding: 38px 20px 36px 20px;
    flex: 1;
    box-shadow: 0px 0px 40px 0px #eee;
    max-width: 20em;
    border-radius: 5px;
}

.icon {
    margin: 0px;
    padding: 0px;
}

.icon img {
    width: 50px;
    height: 50px;
    margin: 0px;
}

.moodle-box {
    padding: 0px 25px 0px 25px;
}

.moodle-title {
    font-size: 22px;
        line-height: 32px;
        font-weight: 700;
}

.moodle-des {
    color: #666666;
    font-size: 16px;
    margin-bottom: 20px;
    margin: 0 0 26px;
    line-height: 1.8;
}
/*link color*/
.moodle-link .a {
    color:#333333;
}

.moodle-link a {
    color: #333333;
    text-decoration: none;
}

.moodle-link a:hover {
    opacity: 50%;
}
/*Link color end*/

/*footer*/
.footer-sec {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 30px 0px;
}

.footer-top {
    display: flex;
    gap:36px;
}

.footer-title {
    font-size: 18px;
    margin-bottom: 10px
}

.footer-logo {
    width: 175px;
}

.footer-list {
    display: flex;
    flex-direction: column;
}

.footer-list ul {
    display: flex;
    flex-direction: column;
    list-style:square;
}

.footer-list .footer-contact {
    list-style: none;
}

.footer-contact li a {
    color: white;
}
.footer-contact li a:hover {
    color: rgba(255, 255, 255, 0.75);
}

/*gardening html*/

/*summary section*/

.summary-container {
    padding: 7rem 0 5rem 0;
}
.gardening-icon {
    padding: 0px 20px;
}

.services-header{
    font-size: 25px;
    font-weight: 400;
}

/*Turf Section*/
.turf-section {
    flex-wrap: wrap;
    padding: 20px 0 10rem 0;
}

.turf-img {
    overflow-clip-margin: content-box;
    overflow: clip;
    flex-shrink: 1;
}

/*coursel section*/



.carousel-item {
    height: 32rem;
    background: #777;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size:cover;
}

/*Landscape section*/
/*Single-section*/

.single-section-gr {
    padding: 4rem 0 2rem 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
}

.single-section {
    padding: 4rem 0 2rem 0;
    
    display: flex;
    justify-content: center;
}

.single-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.text-box {
    max-width: 600px;

}

/*Area of Operations section*/

.service-number {
    font-weight: 300;
}

.service-number a {
    font-size: 40px;
    color: #5d7d34;
    text-decoration: none;
}